# what to do during the test
[run]
# check for branch coverage
branch = True

# what to report
[report]
# include the line numbers for missed lines
show_missing = True
# which lines to skip in coverage test
exclude_lines =
    # the default pragma
    pragma: no cover
    # we don't want to test this, usually abc methods
    raise NotImplementedError
