*.py[cod]
*.todo
*.ini
*~
*/.ipynb_checkpoints/*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
lcov.info

*.DS_Store
*.dylib
*.pyc
.idea/
docs/_*
pdoc
