### Python template
.idea
.venv
.ruff_cache

__marimo__

_tests
_book
_pdoc
_marimushka

# temp file used by Junie
.output.txt

# folder used for task
bin

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Generated presentation files
presentation.html
presentation.pdf
*.pptx

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Cython debug symbols
cython_debug/


