# This file is part of the tschm/.config-templates repository
# (https://github.com/tschm/.config-templates).
#
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.13.0'
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix, --unsafe-fixes ]

      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ["--disable", "MD013"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.3
    hooks:
      - id: check-renovate
        args: [ "--verbose" ]

      - id: check-github-workflows
        args: ["--verbose"]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
        args: [ -ignore, SC ]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
