[project]
name = 'chebpy'
version = "0.0.0"
description = "A Python implementation of Chebfun"
authors = [{name='Mark Richardson', email= 'mrichardson82@gmail.com'}]
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "numpy>=2.0",
    "matplotlib>=3.10.0"
]

[project.urls]
repository = "https://github.com/chebpy/chebpy"
homepage = "https://chebpy.github.io/chebpy/"

[project.optional-dependencies]
dev = [
    "pytest-cov>=6.2.1",
    "pytest>=8.4.1",
    "pre-commit>=4.2.0",
    "seaborn==0.13.2",
    "marimo==0.14.17",
    "python-dotenv==1.1.1"
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/chebpy"]

#[tool.hatch.build]
#include = [
#    "LICENSE.rst",    # Ensure the LICENSE file is included in your package
#    "README.md",
#    "src/chebpy"
#]

[tool.deptry]
# see https://deptry.com/usage/#pep-621-dev-dependency-groups
pep621_dev_dependency_groups = ["dev"]
